
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tạo Trang Login</title>
    <link rel="stylesheet" href="~/Content/dangkydangnhap.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
</body>
</html>
@using (Html.BeginForm())
{
    <form action="#" method="post">
        @Html.ValidationSummary(true)
        <section>
            <!--Bắt Đầu Phần Hình Ảnh-->
            <div class="img-bg">
                @*<img src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/tao_trang_dang_nhap/hinh_anh_minh_hoa.jpg" alt="hình ảnh minh họa">*@
            </div>
            <!--Kết Thúc Phần Hình Ảnh-->
            <!--Bắt Đầu Phần Nội Dung-->
            <div class="noi-dung">
                <div class="form">
                    <h2>Trang Đăng Ký</h2>
                    <form action="">
                        <div class="input-form">
                            <input placeholder="Họ và tên" type="text" name="HOTEN" required="">
                        </div>
                        <div class="input-form">
                            <input placeholder="Mật khẩu" type="password" name="Pass" required="">
                        </div>
                        <div class="input-form">
                            <input placeholder="Địa chỉ" type="text" name="Address" required="">
                        </div>
                        <div class="input-form">
                            <input placeholder="Điện thoại" type="text" pattern="[0-9]{10}" name="SDT" required="">
                        </div>

                        <div class="input-form">
                            <input type="submit" value="Đăng Ký">
                        </div>
                        <div class="input-form">
                            <p>Về <a href="@Url.Action("Index", "Home")">Trang Chủ</a> </p>
                        </div>
                    </form>
                </div>
            </div>
            <!--Kết Thúc Phần Nội Dung-->
        </section>
    </form>
}
